<<<<<<< HEAD
body {
    background-color: black;
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.container {
    background-color: white;
    height: 100;
}

#header {
    width: 100%;
}
=======
body {
    background-color: black;
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.container {
    background-color: white;
    height: 100;
}

#header {
    width: 100%;
}
>>>>>>> 3987a78adc733f3deccf691a287da63929138681
